<div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;line-height:1.6;color:#1B1C1E;">
<!-- MUSIC DEPARTMENT HEADER IMAGE -->
<p style="margin:0 0 1em 0;">Hi {{FIRST_NAME}},</p>

<p style="margin:0 0 1em 0;">Thank you for starting your application to the <a href="https://www.csueastbay.edu/music/prospective/music-ed.html" style="color:#6E1F2A;">Single Subject Matter Preparation Certificate in Music</a> at Cal State East Bay. The certificate prepares you for the California Single Subject Teaching Credential in Music, which authorizes instruction in any area of music from kindergarten through high school.</p>

<p style="margin:0 0 1em 0;">This route is for applicants who already hold a bachelor&rsquo;s degree.</p>

<p style="margin:1.4em 0 0.4em 0;"><strong>Submit the following through CSUApply</strong></p>

<ul style="margin:0 0 1em 0;padding-left:1.4em;">
<li style="margin:0 0 0.5em 0;">Curriculum vitae or r&eacute;sum&eacute;.</li>
<li style="margin:0 0 0.5em 0;">Contact information for two references, who will be asked to submit recommendation letters on your behalf.</li>
<li style="margin:0 0 0.5em 0;">Statement of purpose, 2 to 3 double-spaced pages, describing your background and training in music and your reasons for wanting to teach K&ndash;12 music.</li>
<li style="margin:0 0 0.5em 0;">Unofficial transcripts from all previous higher education institutions.</li>
</ul>

<p style="margin:0 0 1em 0;">Questions at any point: (510) 885-3135, <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>.</p>

<p style="margin:0 0 1em 0;">All the best,<br>
Department of Music</p>

<p style="margin:0 0 1em 0;font-size:14px;color:#5E6166;">
Department of Music &middot; CSUEB Music Building, MB 2569<br>
25800 Carlos Bee Boulevard, Hayward, CA 94542<br>
(510) 885-3135 &middot; <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>
</p>
</div>
