<div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;line-height:1.6;color:#1B1C1E;">
<!-- MUSIC DEPARTMENT HEADER IMAGE -->
<p style="margin:0 0 1em 0;">Hi {{FIRST_NAME}},</p>

<p style="margin:0 0 1em 0;">Thanks for starting an application to the <a href="https://www.csueastbay.edu/music/prospective/ba.html" style="color:#6E1F2A;">B.A. in Music</a> at Cal State East Bay.</p>

<p style="margin:0 0 1em 0;">If anything in the application is unclear, don&rsquo;t hesitate to reach out, we are here to help. Call (510) 885-3135 or write <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>.</p>

<p style="margin:0 0 1em 0;">You can also begin thinking about your scholarship audition. We award scholarships to incoming students every year, and the same materials serve as the applied area placement that every music major completes before starting lessons. Requirements differ by area, and auditions close in February: <a href="https://www.csueastbay.edu/music/prospective/how-to-apply/auditions.html" style="color:#6E1F2A;">scholarship auditions and applied area placements</a>.</p>

<p style="margin:0 0 1em 0;">There&rsquo;s more about the programs, the faculty, and performance opportunities on the <a href="https://www.csueastbay.edu/music/about-us/index.html" style="color:#6E1F2A;">Department of Music</a> site. And remember, you&rsquo;re welcome on campus any time!</p>

<p style="margin:0 0 1em 0;">All the best,<br>
Department of Music</p>

<p style="margin:0 0 1em 0;font-size:14px;color:#5E6166;">
Department of Music &middot; CSUEB Music Building, MB 2569<br>
25800 Carlos Bee Boulevard, Hayward, CA 94542<br>
(510) 885-3135 &middot; <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>
</p>

<p style="margin:0 0 0.4em 0;"><strong>Other places to look</strong></p>
<ul style="margin:0 0 1em 0;padding-left:1.4em;">
<li><a href="https://www.csueastbay.edu/music/" style="color:#6E1F2A;">Department of Music</a></li>
<li><a href="https://www.csueastbay.edu/admissions/index.html" style="color:#6E1F2A;">Admissions</a></li>
<li><a href="https://www.csueastbay.edu/visit/campustours.html" style="color:#6E1F2A;">Campus tours</a></li>
<li><a href="https://www.csueastbay.edu/housing/" style="color:#6E1F2A;">University housing</a></li>
<li><a href="https://www.csueastbay.edu/financialaid/" style="color:#6E1F2A;">Financial aid</a></li>
<li><a href="https://www.csueastbay.edu/admissions/how-to-videos.html" style="color:#6E1F2A;">Video answers to common questions</a></li>
</ul>
</div>
