<div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;line-height:1.6;color:#1B1C1E;">
<!-- MUSIC DEPARTMENT HEADER IMAGE -->
<p style="margin:0 0 1em 0;">Hi {{FIRST_NAME}},</p>

<p style="margin:0 0 1em 0;">Congratulations! Your application IS IN.</p>

<p style="margin:1.4em 0 0.4em 0;"><strong>Sign up for your scholarship audition</strong></p>

<p style="margin:0 0 1em 0;">We award scholarships to incoming students every year, and the same materials serve as the applied area placement that every music major completes before starting lessons. Auditions close in February. You can submit your materials online or sign up for an in-person audition. All the information is on the <a href="https://www.csueastbay.edu/music/prospective/how-to-apply/auditions.html" style="color:#6E1F2A;">scholarship auditions and applied area placements</a> page. Sign up!</p>

<p style="margin:1.4em 0 0.4em 0;"><strong>Other things to do now</strong></p>

<ul style="margin:0 0 1em 0;padding-left:1.4em;">
<li style="margin:0 0 0.5em 0;"><strong>Activate your NetID.</strong> The University assigns you one within 48 hours of applying and sends it to the personal email address on your application. You need it for MyCSUEB and for your Horizon email account. <a href="https://www.csueastbay.edu/netid/netid-activation-instructions.html" style="color:#6E1F2A;">Activation instructions</a>.</li>
<li style="margin:0 0 0.5em 0;"><strong>Send your transcripts.</strong> Ask each school you&rsquo;ve attended (high school, community college, or any other 4-year college) to send them electronically to <a href="mailto:electronictranscripts@csueastbay.edu" style="color:#6E1F2A;">electronictranscripts@csueastbay.edu</a>. You will not receive an admission offer until the Office of Admissions has them. <a href="https://www.csueastbay.edu/admissions/documents-deadlines-and-important-information/transcript-and-document-submission.html" style="color:#6E1F2A;">How to submit documents</a>.</li>
<li style="margin:0 0 0.5em 0;"><strong>Check <a href="https://www.csueastbay.edu/mycsueb/" style="color:#6E1F2A;">MyCSUEB</a>.</strong> It shows your status and anything still outstanding.</li>
<li style="margin:0 0 0.5em 0;"><strong>Come and visit.</strong> Meet the faculty, sit in on a rehearsal, and see an ordinary Tuesday here. Write or call and we will arrange it.</li>
</ul>

<p style="margin:0 0 1em 0;">Questions about a visit or an audition? Call (510) 885-3135 or write <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>.</p>

<p style="margin:0 0 1em 0;">All the best,<br>
Department of Music</p>

<p style="margin:0 0 1em 0;font-size:14px;color:#5E6166;">
Department of Music &middot; CSUEB Music Building, MB 2569<br>
25800 Carlos Bee Boulevard, Hayward, CA 94542<br>
(510) 885-3135 &middot; <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>
</p>
</div>
