<div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;line-height:1.6;color:#1B1C1E;">
<!-- MUSIC DEPARTMENT HEADER IMAGE -->
<p style="margin:0 0 1em 0;">Hi {{FIRST_NAME}},</p>

<p style="margin:0 0 1em 0;">Thanks for starting an application to the <a href="https://www.csueastbay.edu/music/prospective/music-ed.html" style="color:#6E1F2A;">Single Subject Matter Preparation Certificate in Music</a>. It&rsquo;s the path to the California Single Subject Teaching Credential in Music, which lets you teach any area of music from kindergarten through high school.</p>

<p style="margin:0 0 1em 0;">This route is for people who already hold a bachelor&rsquo;s degree.</p>

<p style="margin:1.4em 0 0.4em 0;"><strong>What goes into CSUApply</strong></p>

<ul style="margin:0 0 1em 0;padding-left:1.4em;">
<li style="margin:0 0 0.5em 0;">Your CV or r&eacute;sum&eacute;.</li>
<li style="margin:0 0 0.5em 0;">Contact details for two references. They&rsquo;ll be asked for letters later. Give them a heads up.</li>
<li style="margin:0 0 0.5em 0;">A statement of purpose, 2 to 3 double-spaced pages, on your background in music and why you want to teach K&ndash;12.</li>
<li style="margin:0 0 0.5em 0;">Unofficial transcripts from every school you&rsquo;ve attended.</li>
</ul>

<p style="margin:0 0 1em 0;">Questions while you put it together? Call (510) 885-3135 or write <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>. A person reads that inbox.</p>

<p style="margin:0 0 1em 0;">All the best,<br>
Department of Music</p>

<p style="margin:0 0 1em 0;font-size:14px;color:#5E6166;">
Department of Music &middot; CSUEB Music Building, MB 2569<br>
25800 Carlos Bee Boulevard, Hayward, CA 94542<br>
(510) 885-3135 &middot; <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>
</p>
</div>
