<div style="font-family:Georgia,'Times New Roman',serif;font-size:16px;line-height:1.6;color:#1B1C1E;">
<!-- MUSIC DEPARTMENT HEADER IMAGE -->
<p style="margin:0 0 1em 0;">Hi {{FIRST_NAME}},</p>

<p style="margin:0 0 1em 0;">You&rsquo;re enrolled. Welcome.</p>

<p style="margin:0 0 1em 0;">Use the building. The <a href="https://www.csueastbay.edu/music/facilities/resource-center.html" style="color:#6E1F2A;">Music Resource Center</a> and the <a href="https://www.csueastbay.edu/music/facilities/equipment-office.html" style="color:#6E1F2A;">Music Equipment Office</a> hold the scores, instruments, and gear you&rsquo;ll want, and our teaching studios are open to you. Policies and deadlines live on the <a href="https://www.csueastbay.edu/music/current/index.html" style="color:#6E1F2A;">Student Resources</a> page, and concerts go up on <a href="https://www.csueastbay.edu/music/news-events/index.html" style="color:#6E1F2A;">News &amp; Events</a>.</p>

<p style="margin:0 0 1em 0;">Come to concerts. You&rsquo;ll be teaching this repertoire soon enough, and the fastest way into it is hearing it live.</p>

<p style="margin:0 0 1em 0;">Anything about sequencing or the credential pathway comes to us. Call (510) 885-3135 or write <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>. A person reads that inbox.</p>

<p style="margin:0 0 1em 0;">All the best,<br>
Department of Music</p>

<p style="margin:0 0 1em 0;font-size:14px;color:#5E6166;">
Department of Music &middot; CSUEB Music Building, MB 2569<br>
25800 Carlos Bee Boulevard, Hayward, CA 94542<br>
(510) 885-3135 &middot; <a href="mailto:music@csueastbay.edu" style="color:#6E1F2A;">music@csueastbay.edu</a>
</p>
</div>
